.navbar{
    display: flex;
    padding-top: 1.7rem;
    
}
.logo{
    position: relative;
    padding-left: 3rem;
    padding-top: 0.5rem;
    height: 42px;
    
}
ul{
    /* padding-right: 4rem; */
}
.links{
    text-decoration: none;
    color: black;
}

li{
    display: inline;
    padding-right: 2rem;
    padding-top: 2rem;
    font-size: 15px;
}
.build{
    margin-left: 17rem;
    font-size: small;
}
.devstudio{
    padding: 5px 7px;
    background-color: white;
    border-radius: 5px;
    margin-left: 0.5rem;
}